body{
  background: lightskyblue
}
h1 {
  color:Gray;
}
h2 {
  color: lightcoral;
}
button{
  color: black;
  font-size: 10px;
  border-radius: 10px;
  background: skyblue;
  display: block;
}
h5{
  color:black;
  text-align: center;
} 
button {
  margin-top: 300px;   /* down */
    margin-left: 345px;  /* right */
}