body{
  background-color: deeppink; 
}
.card{
  width: 250px;
  padding: 20px;
  border-radius: center;
  margin: 50px;
  text-align: center;
}
.btn{
  color: #000;
  background-color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
  .btn:hover{
    background: black;
    
}
.img{
  width: 50px;
  padding: 20px;
}
.h2{
 background-color: white;
 border-radius: 5px 10px;
}